@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@media screen and (min-width : 768px) {
  ::-webkit-scrollbar{
    background: #00000000;
    width: 14px;
  }
  ::-webkit-scrollbar-thumb{
    background: #383838;
  }
}